<IfModule mod_rewrite.c>
# MultiViews interfers with proper rewriting

RewriteEngine On

# Uncomment and properly set the RewriteBase if the rewrite rules are not working properly
#RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . noimage.gif [L]
</IfModule>